<header>
  <h1>Stackbuld Users</h1>
</header>
<div class="container">
  <div class="add-user">
    <form [formGroup]="userForm" class="user-form" (ngSubmit)="addUser()">
      <app-input
        name="name"
        label="Name"
        placeholder="Enter your Name"
        type="text"
        formControlName="name"
      />
      <app-input
        name="email"
        label="Email"
        placeholder="Enter your Email"
        type="email"
        formControlName="email"
      />
      <app-input
        name="phone"
        label="Phone"
        placeholder="Enter your Phone number"
        type="text"
        formControlName="phone"
      />
      <button class="btn save-user" type="submit" [disabled]="!userForm.valid">
        Add New User
      </button>
    </form>
  </div>
  <div *ngIf="isLoading; else result" class="loading">...loading</div>
  <ng-template #result>
    <div class="users">
      <form action="" [formGroup]="search">
        <div class="input-container">
          <input
            type="text"
            placeholder="Search for a user by name, email or phone"
            class="search"
            formControlName="searchField"
          />
        </div>
      </form>
      <div
        *ngFor="let user of filteredUsers; index as i"
        class=""
        [ngClass]="{ even: i % 2 == 0, odd: i % 2 !== 0 }"
        id="{{ user.id }}"
      >
        <div class="user">
          <div class="user-content">
            <p>{{ user.name }}</p>
            <p>{{ user.email }}</p>
            <p>{{ user.phone }}</p>
          </div>
          <div class="btns">
            <button class="btn delete" (click)="deleteUser(user.id)">
              Delete
            </button>
            <button class="btn edit" (click)="showEditForms(user)">Edit</button>
          </div>
        </div>
        <form
          [formGroup]="updateUserForm"
          class="update-form user-form"
          (ngSubmit)="updateUser(user.id)"
          *ngIf="showEditForm && user.id === formToEditId"
        >
          <app-input
            name="name"
            label="Name"
            placeholder="Enter your Name"
            type="text"
            formControlName="name"
          />
          <app-input
            name="email"
            label="Email"
            placeholder="Enter your Email"
            type="email"
            formControlName="email"
          />
          <app-input
            name="phone"
            label="Phone"
            placeholder="Enter your Phone number"
            type="text"
            formControlName="phone"
          />
          <button class="btn save-user" type="submit">Update User</button>
        </form>
      </div>
    </div>
  </ng-template>
</div>
